@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.App {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

label {
  display: flex;
  gap: 4px;
  flex-direction: column;
  font-size: 16px;
  text-align: start;
}

input, textarea {
  padding: 15px 15px;
  width: 300px;
  border: none;
  border-radius: 6px;
  color: #4f46e5;
}

textarea:focus,
input:focus{
  outline: solid 2px #4f46e5;
}

.error_msg, 
.sub_label {
  max-width: 300px;
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
}

.error_msg {
  color: rgb(216, 0, 0);
}

.icon {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}